body{
    background-color: #2F3136;
}
nav{
    background-color: #C40028;
    width: 100%;
    height: 4vw;
}
#Nav_Items{
    list-style: none;
    
}
#Nav_Items li{
    display: inline-flex;
    transition: background-color 1.0s ease;
    border-left: black, 1px;
    border-right:black, 1px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 4vw;
    margin-left: 4vw;
}
#Nav_Items li:hover{
    background-color: #7e021b;
}