
  main{
    justify-content: center;
    flex-direction: column;
}
main > div {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;

        background-color: #212121;
        border-radius: 10px;
        flex-direction: row;
    }
main > div > img{
    border-radius: 25px;
    height: 300px;
    width: 300px;
}
.imgTwistedTreeline{
    border-radius: 25px;
    height: 300px;
    width: 400px;
}

@media only screen and (max-width: 480px) {
main{
    justify-content: center;
    flex-direction: column;
}
main > div {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;

        background-color: #212121;
        border-radius: 10px;
    }
main > div > img{
    margin-left: 100px;
    border-radius: 25px;
    height: 200px;
    width: 200px;
}
.imgTwistedTreeline{
    margin-left: 50px;
    border-radius: 25px;
    height: 200px;
    width: 300px;
}
}

@media only screen and (max-width: 1024px) {
    main{
        justify-content: center;
        flex-direction: column;
    }
    main > div {
            /* background-color: var(--lol-blue); */
            width: auto;
            margin: 30px;
            align-items: center;
            padding: 10px;
    
            background-color: #212121;
            border-radius: 10px;
            flex-direction: row;
        }
    main > div > img{
        border-radius: 25px;
        height: 200px;
        width: 200px;
    }
    .imgTwistedTreeline{
        border-radius: 25px;
        height: 200px;
        width: 300px;
    }
}
