textarea {
    resize: none;
}

@media only screen and (max-width: 480px) {
    main {
        justify-content: center;
        align-items: center;
    }

    input,
    select,
    button {
        width: 100%;
        /* margin: 0;
        padding: 0; */
        box-sizing: border-box;
    }

    form {
        /* background-color: var(--lol-blue); */
        width: 100%;
        margin: 50px;
        align-items: center;
    }

    form > div {
        padding-bottom: 10px;
    }
    form > div > label {
        font-size: 12px;
    }
    form > div > input,
    form > div > select,
    form > div > textarea,
    form > div > button {
        font-size: 18px;
    }
    /*
    form > div {
    } */
}

@media only screen and (max-width: 1024px) {
}
