#mainContact{
    display: flex;
    justify-content: center;
    align-items: center;
    /* Tijdelijk */
    height: 600px;
}
#mainContact div{
    background-color: var(--black);
    color: var(--white);
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 20px;
}
#sendMail{
    background-color: var(--lol-blue);
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 2px;
}
#sendMail:hover{
    background-color: var(--lol-yellow);
}
@media only screen and (max-width: 480){

}

@media only screen and (max-width: 1024) {

}