@font-face {
    font-family: 'Roboto-Light';
    src: url('./../../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./../../assets/fonts/Roboto-Regular.ttf');
}

:root {
    --black: #212121;
    --white: #fff;
    --lol-blue: #0bc4e2;
    --lol-yellow: #d0a85c;
    font-family: 'Roboto-Regular';
}

html, body, h1 {
    margin: 0;
    padding: 0;
}

header, nav {
    color: var(--white);
    background-color: var(--black);
}

nav div a {
    color: var(--white);
    text-decoration: none;
}

/* TODO: Fix nav */
nav {
    display: flex;
    justify-content: space-around;
}
footer{
    display: flex;
    background-color: var(--black);
    color: var(--white);
    justify-content: center;
    align-items: center;
}
footer a{
    color: var(--white);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 480){

}

@media only screen and (max-width: 1024) {

}