/* .hamburger {
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    width: 40px;
    padding: 5px;
    border: var(--white) 2px solid;
    box-sizing: border-box;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--white);
} */

.btn-p {
    /* margin: 8px; */
    height: 40px;
    background-color: var(--lol-blue);
    font-size: 14px;
    font-family: "Roboto-Medium", sans-serif;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-p:hover {
    background-color: var(--lol-blue-d);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input.text-field,
textarea.text-field,
select.select-field {
    box-sizing: border-box;
    background-color: transparent;
    color: var(--white);
    border-left: none;
    border-top: none;
    border-right: none;
    font-family: inherit;
}

.text-field {
    padding: 6px 0 7px;
    caret-color: var(--white);
}

.select-field {
    /* TODO: Change arrow */
    /* appearance: none; */
    cursor: pointer;
}

.select-field:after {
    background-color: red;
}

.select-field > option {
    background-color: #4E535A;
    color: var(--white);
    border: none;
}

textarea.text-field {
    width: 100%;
}

option {
    padding: 0;
    margin: 0;
}