/* TODO: 
    ! Clean-up code, remove duplicates
    ! Fix media-queries and put them together
    ! Add comments!!!
*/

/* #region imports */
@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf");
}
/* #endregion imports */

/* #region global */
:root {
    --bg-black: #232931;
    --black: #212121;
    --white: #fff;
    --lol-blue: #0bc4e2;
    --lol-blue-d: #0093b0;
    --lol-yellow: #d0a85c;
    font-family: "Roboto-Regular", sans-serif;
    /* TODO: Remove this later */
    color: var(--white);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
/* #endregion start */

/* #region main */
main {
    display: flex;
    flex: 1;
    background-color: var(--bg-black);
}
/* #endregion main */

/* #region header */
header {
    height: 75px;
}

header,
nav {
    color: var(--white);
    background-color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    align-self: center;
}

nav {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: space-around;
}

nav div {
    flex: 1;
}

nav div a {
    display: flex;
    height: 100%;
    width: 100%;
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav div a:hover {
    background-color: var(--lol-blue);
}
/* #endregion header */

/* #region footer */
footer {
    display: flex;
    height: 100px;
    background-color: var(--black);
    color: var(--white);
    justify-content: space-between;
    flex-direction: row;
}
footer a {
    color: var(--white);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.info-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
    padding-left: 200px;
}
.media-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    padding-right: 200px;
}
.media-container img {
    height: 50px;
    width: 50px;
    padding: 5px;
}
.twitter {
    border-radius: 50px;
}

/* #endregion footer */

/* #region about */
main {
    justify-content: center;
    flex-direction: row;
}
.information-card {
    /* background-color: var(--lol-blue); */
    width: auto;
    margin: 30px;
    align-items: center;
    padding: 10px;
    font-size: 12px;

    background-color: #212121;
    border-radius: 10px;
}
.information-card > div {
    padding-bottom: 10px;
}
.information-card > div > img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
    main {
        justify-content: center;
        flex-direction: row;
    }
    .information-card {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;
        font-size: 12px;

        background-color: #212121;
        border-radius: 10px;
    }
    .information-card > div {
        padding-bottom: 10px;
    }
    .information-card > div > img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 480px) {
    main {
        justify-content: center;
        flex-direction: column;
    }

    .information-card {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;
        font-size: 12px;

        background-color: #212121;
        border-radius: 10px;
    }

    .information-card > div {
        padding-bottom: 10px;
    }
    .information-card > div > img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 10px;
    }
    /*
    form > div {
    } */
}

/* #endregion about */

/* #region champions */
/* #endregion champions */

/* #region contact */
textarea {
    resize: none;
}
main {
    justify-content: center;
    align-items: center;
}

input,
select,
button {
    width: auto;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

form {
    /* background-color: var(--lol-blue); */
    width: 50%;
    margin: 50px;
    align-items: center;
}

form > div {
    padding-bottom: 10px;
}
form > div > label {
    font-size: 18px;
}
form > div > input,
form > div > select,
form > div > textarea,
form > div > button {
    font-size: 24px;
}

@media only screen and (max-width: 1024px) {
    main {
        justify-content: center;
        align-items: center;
    }

    input,
    select,
    button {
        width: auto;
        /* margin: 0;
        padding: 0; */
        box-sizing: border-box;
    }

    form {
        /* background-color: var(--lol-blue); */
        width: 50%;
        margin: 50px;
        align-items: center;
    }

    form > div {
        padding-bottom: 10px;
    }
    form > div > label {
        font-size: 12px;
    }
    form > div > input,
    form > div > select,
    form > div > textarea,
    form > div > button {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    main {
        justify-content: center;
        align-items: center;
    }

    input,
    select,
    button {
        width: 100%;
        /* margin: 0;
        padding: 0; */
        box-sizing: border-box;
    }

    form {
        /* background-color: var(--lol-blue); */
        width: 100%;
        margin: 50px;
        align-items: center;
    }

    form > div {
        padding-bottom: 10px;
    }
    form > div > label {
        font-size: 12px;
    }
    form > div > input,
    form > div > select,
    form > div > textarea,
    form > div > button {
        font-size: 18px;
    }
    /*
    form > div {
    } */
}
/* #endregion contact */

/* #region gamemodes */

main {
    justify-content: center;
    flex-direction: column;
}
main > div {
    /* background-color: var(--lol-blue); */
    width: auto;
    margin: 30px;
    align-items: center;
    padding: 10px;

    background-color: #212121;
    border-radius: 10px;
    flex-direction: row;
}
main > div > img {
    border-radius: 25px;
    height: 300px;
    width: 300px;
}
.imgTwistedTreeline {
    border-radius: 25px;
    height: 300px;
    width: 400px;
}

@media only screen and (max-width: 1024px) {
    main {
        justify-content: center;
        flex-direction: column;
    }
    main > div {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;

        background-color: #212121;
        border-radius: 10px;
        flex-direction: row;
    }
    main > div > img {
        border-radius: 25px;
        height: 200px;
        width: 200px;
    }
    .imgTwistedTreeline {
        border-radius: 25px;
        height: 200px;
        width: 300px;
    }
}

@media only screen and (max-width: 480px) {
    main {
        justify-content: center;
        flex-direction: column;
    }
    main > div {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;

        background-color: #212121;
        border-radius: 10px;
    }
    main > div > img {
        margin-left: 100px;
        border-radius: 25px;
        height: 200px;
        width: 200px;
    }
    .imgTwistedTreeline {
        margin-left: 50px;
        border-radius: 25px;
        height: 200px;
        width: 300px;
    }
}

/* #endregion gamemodes */

/* #region media_queries */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 480px) {
    footer {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .media-container {
        padding: 0;
        padding-top: 0;
    }
    .info-container {
        padding: 0;
        padding-left: 0;
    }
}

/* #endregion media_queries*/
