/* TODO: 
    ! Clean-up code, remove duplicates
    ! Fix media-queries and put them together
    ! Add comments!!!
*/

/* #region imports */
@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf");
}
/* #endregion imports */

/* #region global */
:root {
    --bg-black: #232931;
    --black: #212121;
    --white: #fff;
    --lol-blue: #0bc4e2;
    --lol-blue-d: #0093b0;
    --lol-yellow: #d0a85c;
    font-family: "Roboto-Regular", sans-serif;
    /* TODO: Remove this later */
    color: var(--white);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
/* #endregion start */

/* #region main */
main {
    display: flex;
    flex: 1;
    background-color: var(--bg-black);
}
/* #endregion main */

/* #region header */
header {
    height: 75px;
}

header,
nav {
    color: var(--white);
    background-color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    align-self: center;
}

nav {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: space-around;
}

nav div {
    flex: 1;
}

nav div a {
    display: flex;
    height: 100%;
    width: 100%;
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
nav div span {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav div a:hover,
nav div span:hover {
    background-color: var(--lol-blue);
    transition: all 0.5s ease-in;
}

/* .hamburger {
    display: none;
} */
/* #endregion header */

/* #region header dropdown*/
.dropdown {
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--black);
    width: 25%;
    height: 100px;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.dropdown:hover .dropdown-content {
    display: flex;
}
/* #endregion header dropdown*/

/* #region footer */
footer {
    display: flex;
    height: 100px;
    background-color: var(--black);
    color: var(--white);
    justify-content: space-between;
    flex-direction: row;
}
footer a {
    color: var(--white);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.info-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
    padding-left: 200px;
}
.media-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    padding-right: 200px;
}
.media-container img {
    height: 50px;
    width: 50px;
    padding: 5px;
}
.twitter {
    border-radius: 50px;
}
.media-container .youtube,
.media-container .github {
    width: 60px;
}
/* #endregion footer */

/* #region Home */
.home-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.home-container h1 {
    text-align: center;
}

.iframe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    transition: all 1s;
}

.home-container iframe {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: var(--lol-blue-d) 5px solid;
}
/* #endregion Home */

    flex-direction: row;
}
.information-card {
    /* background-color: var(--lol-blue); */
    width: auto;
    margin: 30px;
    align-items: center;
    padding: 10px;
    font-size: 12px;

    background-color: #212121;
    border-radius: 10px;
}
.information-card > div {
    padding-bottom: 10px;
}
.information-card > div > img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-left: 10px;
}

/* #endregion about */

/* #region champions */
.image-gallery {
    /* Variable space gap in pixels */
    --space-gap: 1rem;

    display: flex;
    width: 100%;
    margin: var(--space-gap) 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--space-gap);
    user-select: none;
}

.image-gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--lol-blue-d) 5px solid;
    border-radius: 5px;
    box-sizing: border-box;
}
.image-gallery > div {
    max-width: 400px;
}

.image-gallery > div img {
    height: 100%;
    width: 100%;
}
/* #endregion champions */

/* #region contact */
textarea {
    resize: none;
}

input,
select,
button {
    width: auto;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

form {
    /* background-color: var(--lol-blue); */
    width: 50%;
    margin: 50px;
    align-items: center;
}

form > div {
    padding-bottom: 10px;
}
form > div > label {
    font-size: 18px;
}
form > div > input,
form > div > select,
form > div > textarea,
form > div > button {
    font-size: 24px;
}
/* #endregion contact */

/* #region gamemodes */

.gamemode-wrapper > div {
    /* background-color: var(--lol-blue); */
    display: flex;
    width: auto;
    margin: 30px;
    align-items: center;
    padding: 10px;

    background-color: #212121;
    border-radius: 10px;
    flex-direction: row;
}
.gamemode-wrapper > div > img {
    border-radius: 25px;
    height: 300px;
    width: 300px;
    margin-right: 10px;
}
.imgTwistedTreeline {
    border-radius: 25px;
    height: 300px;
    width: 400px;
}
/* #endregion gamemodes */

@media only screen and (max-width: 1024px) {
    /* #region header dropdown*/

    .dropdown:hover .dropdown-content {
        display: flex;
    }
    /* #endregion header dropdown*/

    /* #region Home */
    .iframe-wrapper {
        height: 40%;
    }
    /* #endregion Home */

    .information-card {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;
        font-size: 12px;

        background-color: #212121;
        border-radius: 10px;
    }
    .information-card > div {
        padding-bottom: 10px;
    }
    .information-card > div > img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 10px;
    }

    /* #endregion About*/

    /* #region contact */
    main {
        justify-content: center;
        align-items: center;
    }

    input,
    select,
    button {
        width: auto;
        /* margin: 0;
        padding: 0; */
        box-sizing: border-box;
    }

    form {
        /* background-color: var(--lol-blue); */
        width: 50%;
        margin: 50px;
        align-items: center;
    }

    form > div {
        padding-bottom: 10px;
    }
    form > div > label {
        font-size: 12px;
    }
    form > div > input,
    form > div > select,
    form > div > textarea,
    form > div > button {
        font-size: 18px;
    }
    /* #endregion contact*/

    /* #region gamemodes */

    .gamemode-wrapper > div {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;

        background-color: #212121;
        border-radius: 10px;
        flex-direction: row;
    }
    .gamemode-wrapper > div > img {
        border-radius: 25px;
        height: 200px;
        width: 200px;
    }
    .imgTwistedTreeline {
        border-radius: 25px;
        height: 200px;
        width: 300px;
    }
    /* #endregion gamemodes */

    /* #region Champions */
    /* #endregion Champions */
}

@media only screen and (max-width: 480px) {
    /* #region header dropdown*/
    .dropdown-content {
        width: 120px;
        height: 100px;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        /* transform: all 0.5s ease-in-out; */
    }
    /* #endregion header dropdown*/

    /* #region Homepage */
    .iframe-wrapper {
        height: 30%;
        width: 80%;
    }
    /* #endregion Homepage */

    /* #region About*/

    .information-card {
        /* background-color: var(--lol-blue); */
        width: auto;
        margin: 30px;
        align-items: center;
        padding: 10px;
        font-size: 12px;

        background-color: #212121;
        border-radius: 10px;
    }

    .information-card > div {
        padding-bottom: 10px;
    }
    .information-card > div > img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-left: 10px;
    }
    /* #endregion About */

    /* #region Contact */

    input,
    select,
    button {
        width: 100%;
        /* margin: 0;
        padding: 0; */
        box-sizing: border-box;
    }

    form {
        /* background-color: var(--lol-blue); */
        width: 100%;
        margin: 50px;
        align-items: center;
    }

    form > div {
        padding-bottom: 10px;
    }
    form > div > label {
        font-size: 12px;
    }
    form > div > input,
    form > div > select,
    form > div > textarea,
    form > div > button {
        font-size: 18px;
    }
    /*
    form > div {
    } */
    /* #endregion Contact*/

    /* #region gamemodes */

    .gamemode-wrapper > div {
        flex-direction: column;
    }
    .gamemode-wrapper > div > img {
        margin-left: 20px;
    }
    .imgTwistedTreeline {
        margin-left: 50px;
    }
    /* #endregion gamemodes */

    /* #region Footer*/
    footer {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .media-container {
        padding: 0;
        padding-top: 0;
    }
    .info-container {
        padding: 0;
        padding-left: 0;
    }
    /* #endregion Footer*/

    /* #region Champions */
    .image-gallery {
        --space-gap: 10px;
    }

    .image-gallery > div {
        max-width: 320px;
    }

    /* #endregion Champions */
}

/* #region Epic iframe code want ik haat iframes */
/* ! Epic code anders vond ik de iframes echt lelijk :^) */
@media only screen and (max-width: 1450px) {
    /* Omdat ik het anders echt lelijk vond */
    .iframe-wrapper {
        height: 50%;
    }
}

@media only screen and (max-width: 950px) {
    /* Omdat ik het anders echt lelijk vond */
    .iframe-wrapper {
        height: 30%;
    }
}
/* #endregion Epic iframe code want ik haat iframes */
